.header{
    text-align: center;
}
.header img{
    height: 80px;
}
.header nav{
    background: black;
    line-height: 47px;
    font-size: 20px;
    
}
.header nav a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.header nav a:hover{
    background: gray;
}